body {
	margin: 0;
	padding: 0 0 0 0;
}

div,
.App {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-size: 100%;
}

p {
	font-size: 1.8rem;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1 {
	word-spacing: 1.5rem;
}

p {
	font-weight: 300;
}

ol li {
	font-weight: 400;
}

.nav {
	display: flex;
	flex-direction: column;
}

nav ul {
	background-color: #2a2138;
	width: 100%;
}

nav li {
	list-style: none;
}

.nav li:hover {
	text-decoration: none;
	background: #221a2e;
}

li .nav-link {
	color: #fff;
}

li .nav-link:hover {
	color: #fff;
	text-decoration: none;
}

.heading {
	text-align: center;
}

@media screen and (min-width: 501px) {
	form {
		width: 75%;
	}
}

@media screen and (min-width: 660px) {
	form {
		width: 45%;
	}
	nav ul {
		justify-content: flex-start;
	}
	.nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.nav-title {
		left: 0;
	}
	.fa {
		text-align: center;
	}
	ul li {
		margin: 1rem .01rem;
	}
}

button {
	outline: 0;
}

.clickable {
	cursor: pointer;
}

::selection {
	background-color: pink;
}

.nav-item {
	margin: 0 .5rem;
}

.login {
	color: #222;
	line-height: 1.5;
}

.login h1,
.login h2,
.login h3,
.login h4,
.login h5,
.login h6 {
	color: #000;
	font-weight: 900;
	line-height: 1.1;
	margin: 3rem 0 1rem;
}

.recommendations img {
	max-width: 5.2rem;
	object-fit: cover;
	float: left;
	border-radius: 2.5rem;
	margin-right: 1rem;
	display: grid;
	grid-row-gap: 1rem;
}

.recommendations img:hover {
	filter: drop-shadow(16px 16px 20px #222);
}

section {
	line-height: 1.5;
}

.recommendations .tweet-content {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50ch;
}

.recommendations .tweet-handle {
	font-weight: bold;
}

.recommendations .tweet-handle:hover {
	color: dodgerblue;
	cursor: pointer;
}

.stress {
	font-weight: bold;
	text-align: center;
	margin: 1.5rem 0 2rem;
}

ol li {
	font-size: 1.5rem;
}

@media screen and (min-width: 630px) {
	.recommendations h2 {
		display: block;
	}
}
